body {
  font-family: Arial;
  max-width: 600px;
  margin: 30px auto;
}

nav button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

form {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

pre {
  background: #eee;
  padding: 10px;
}
